@model SKAuto.Web.Areas.Administration.ViewModels.Dashboard.IndexViewModel
@{
    this.ViewData["Title"] = "Admin dashboard";
}

<h1 style="color:white">Администраторски панел</h1>
<span style="color:white">Settings: @this.Model.SettingsCount</span>

<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <section>
            <form>
                <hr class="bg-white" />
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/Brand/Create">Добави нов бранд</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/Model/Create">Добави нов модел</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/Category/Create">Добави нова категория</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/Part/Create">Добави нова част</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/Town/Create">Добави нов град</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/UseFullCategory/Create">Добави нова полезна категория</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="text-white" href="~/Company/Create">Добави нова фирма</a>
                </div>
                <hr class="bg-white" />
            </form>
        </section>
    </div>
</div>
