@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white text-center">Добави нов град</h1>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr class="bg-white" />
                <div class="form-group">
                    <label>Име на град</label>
                    <input class="form-control" id="name" name="name" type="text" />
                </div>
                <hr class="bg-white" />
                <div class="form-group text-center">
                    <button type="submit" class="btn skl-bg-color border">Запази</button>
                </div>
            </form>
        </section>
    </div>
</div>

