<h1 style="color:white">Действия с продукти</h1>

<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <section>
            <form>
                <hr class="bg-white" />
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="btn btn-lg btn-block text-white" asp-controller="ShoppingCart" asp-action="Home">Освободи наличност</a>
                </div>
                <div class="form-group border rounded text-white text-center skl-bg-color">
                    <a class="btn btn-lg btn-block text-white" asp-controller="ShoppingCart" asp-action="All">Операции с продукти</a>
                </div>
                <hr class="bg-white" />
            </form>
        </section>
    </div>
</div>