@using SKAuto.Web.ViewModels.ViewModels.PartViewModels;
@model PartCreateViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white text-center">Създай част</h1>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr class="bg-white" />
                <div class="form-group">
                    <label>Име на част</label>
                    <input class="form-control" id="partName" name="partName" type="text" />
                </div>
                <div class="form-group">
                    <label>Избери автомобил</label>
                    <select class="form-control" id="modelName" name="modelName" type="text">
                        <option selected disabled>-- Избери автомобил --</option>
                        @foreach (var item in Model.BrandWithModels)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Избери категория</label>
                    <select class="form-control" id="categoryName" name="categoryName" type="text">
                        <option selected disabled>-- Избери модел --</option>
                        @for (int i = 0; i < Model.Categories.Count(); i++)
                        {
                            <option>@Model.Categories[i].Name.ToString()</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Цена</label>
                    <input type="number" min="0" step="0.01" class="form-control" id="price" name="price" />
                </div>
                <div class="form-group">
                    <label>Производител</label>
                    <input class="form-control" id="manufactoryName" name="manufactoryName" type="text" />
                </div>
                <div class="form-group">
                    <label>Брой части</label>
                    <input type="number" min="1" step="1" class="form-control" id="quantity" name="quantity" />
                </div>
                <hr class="bg-white" />
                <div class="form-group text-center">
                    <button type="submit" class="btn skl-bg-color border">Запази</button>
                </div>
            </form>
        </section>
    </div>
</div>
