@using SKAuto.Web.ViewModels.ViewModels.CategoryViewModels;
@model List<CategoryWithImageViewModel>;

@{
    ViewData["Title"] = "All";
}

<h2 class="text-white text-center skl-bg-color rounded m-2 p-1">Налични категории</h2>

<table class="table-responsive">
    @{
        int i = 0;
    }
    @foreach (var product in @Model)
    {
        if (i % 5 == 0)
        {
            @:<tr>
            }
            @:<td class="text-center">
                <span class="text-white skl-bg-color rounded" >
                    <img src="@Model[i].ImageAdsress" height="175" width="220" />
                    <label>@Model[i].Name</label>
                </span>
            @:</td>
            if ((i + 1) % 5 == 0)
            {
            @:</tr>
        }
        ++i;
    }
</table>

