@using SKAuto.Web.ViewModels.ViewModels.CategoryViewModels;
@model IList<CategoryWithModelViewModel>;

@{
    ViewData["Title"] = "ShowAll";
}

<h2 class="text-white text-center border skl-bg-color rounded m-2 p-1">Налични категории за модела</h2>

<table class="table-responsive">
    @{
        int i = 0;
    }
    @foreach (var product in @Model)
    {
        if (i % 5 == 0)
        {
            @:<tr>
            }
            @:<td class="text-center">
                <a class="text-white rounded" href="/Part/All?modelName=@Model[i].ModelName&categoryName=@Model[i].Name">
                    <img class="border" src="@Model[i].ImageAddress" height="175" width="220" />
                    <label><strong>@Model[i].Name</strong></label>
                </a>
            @:</td>
            if ((i + 1) % 5 == 0)
            {
            @:</tr>
        }
        ++i;
    }
</table>
