@page
@model PersonalDataModel
@{
    ViewData["Title"] = "Personal Data";
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4 class="text-white">Лична информация</h4>

<div class="row">
    <div class="col-md-6">
        <p class="text-white">Вашият профил съдържа лична информация, която сте ни предоставили. Тази страница предоставя възможмост да изтеглите или изтриете личната си информация.</p>
        <p class="text-danger">
            <strong>Изтриването на личната информация ще изтрие профила Ви и той няма да може да бъде възстановен.</strong>
        </p>
        <form id="download-data" asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn skl-bg-color border" type="submit">Изтегли</button>
        </form>
        <p>
            <a id="delete" asp-page="DeletePersonalData" class="btn skl-bg-color border">Изтрий</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}