@model IList<string>;

@{
    this.ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-2">
        <div class="list-group skl-bg-color rounded border m-2 p-2">
            <ul>
                @foreach (var item in Model)
                {
                    <li class="form-inline p-1">
                        <img src="~/Images/RedCarSteeringWheel3.png" height="20" width="20" />
                        <a class="text-white" href="/Model/Kind?name=@item">@item</a>
                    </li>
                }
            </ul>
        </div>
    </div>
    <div class=" col-10">
        <div class="list-group bg-dark d-lg-inline-block offset-md-5 embed-responsive p-2">
            <label>
                <a class="btn skl-bg-color text-white border" asp-controller="Brand" asp-action="Details"><strong>АВТОЧАСТИ</strong></a>
            </label>
            <label>
                <a class="btn skl-bg-color text-white border" href=""><strong>ПОЛЕЗНО</strong></a>
            </label>
        </div>
        <div class="align-content-lg-center">
            <img src="~/Images/Car-Background.jpg" class="img-fluid rounded border" alt="Responsive image" />
        </div>
        <div class="align-content-lg-start m-2 embed-responsive">
            <h4 class="text-white">TAKE CARE OF YOUR CAR</h4>
        </div>
    </div>
</div>
