@{
    this.ViewData["Title"] = "Home Page";
}

<div class="text-center container-fluid rounded">
    <h1 class="text-white">Welcome to SKAuto!</h1>
    <p class="text-white">Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
