@{
    this.ViewData["Title"] = "Privacy Policy";
}
<h1 class="text-white">Политика за поверителност</h1>

<p class="text-white">
    ВНИМАНИЕ! Осъществявайки достъп и използвайки този уебсайт, се счита, че приемате и сте съгласни с общите условия за ползване. Ако не сте съгласни с условията, моля, не използвайте уебсайта.
</p>
<p class="text-white">
    Съдържанието на уебсайта е със защитени авторски права. Забранено е използването на каквото и да е съдържание (текст, снимки, изображения, видео) без писмено разрешение на СКАуто.
</p>
<p class="text-white">
    Достъп до уебсайта на СКАуто имат както регистрирани, така и нерегистрирани Потребители.
</p>
<p class="text-white">
    Регистрираните Потребители доброволно предоставят личните си данни при регистрация. Потребителите имат право да правят промени в личните си данни или да изискват техният потребителски профил да бъде закрит. Също така регистрираните Потребители изрично се съгласяват предоставените от тях лични данни да бъдат използвани от www.fiut.bg по електронен път за изпълнение на поръчка от електронната книжарница и/ или от служител на Издателство “Фют” ЕООД, когато е необходима да се направи справка за поръчката.
</p>
<p class="text-white">
    От своя страна www.fiut.bg гарантира, че няма да предоставя личните данни на регистрираните Потребители на трети лица за рекламни, промоционални и други цели,  освен ако това не е необходимо в изпълнение на законодателството на Република България.
</p>
<p class="text-white">
    Приемайки тези условия, Потребителят се съгласява да получава имейли и известия от www.skauto.bg във връзка с направена през профила му поръчка.
</p>
<p class="text-white">
    РЕГЛАМЕНТ  (ЕС) 2016/679
</p>
<p class="text-white">
    СКАуто носи отговорност за личните данни, които събира от Потребителите на уебсайта по смисъла и в съответствие с Регламент (ЕС) 2016/679 на Европейския Парламент и на Съвета от 27 април 2016 година относно защитата на физическите лица във връзка с обработването на лични данни.
</p>
<p class="text-white">
    СКАуто събира лични данни от Потребителите на уебсайта при приемане на онлайн заявки с цел доставката им до адрес, който Потребителите са подали.
</p>
<p class="text-white">
    Личните данни, които СКАуто събира и обработва, включват: име, фамилия, телефонен номер и адрес на електронна поща на Потребителя, както и адрес по местоживеене и/или друг подаден от Потребителя адрес за приемане на доставка.
</p>
<p class="text-white">
    Електронен магазин
</p>
<p class="text-white">
    Всички цени на продуктите и услугите са крайни и са в български лева, с включен ДДС и други изисквани данъци и такси. Посочени са предоставената отстъпка, основни характеристики и допълнителна информация за продуктите.
</p>
<p class="text-white">
    СКАуто има право да променя цените по всяко време без предварително уведомяване на Потребителите. Потребителят е длъжен да заплати цената, която е била посочена по време на създаване на поръчката.
</p>
<p class="text-white">
    За да бъде приета и изпълнена поръчката, трябва да са попълнени коректно всички полета на формата за поръчка. Потребителят получава потвърждение на посочения от него имейл адрес.
</p>
<p class="text-white">
    Всички продукти се продават и доставят до изчерпване на количествата.
</p>
<p class="text-white">
    При определени обстоятелства www.skauto.bg си запазва правото да откаже изпълнение на поръчка. Такива обстоятелства могат да бъдат технически грешки, изчерпани наличности, некоректно поведение на Потребителя и други).
</p>
<p class="text-white">
    Доставка
</p>
<p class="text-white">
    Поръчките се доставят с куриер в София и страната. СКАуто доставя пратки с куриер!
</p>
<p class="text-white">
    Доставките с куриер са на предварително посочен адрес. Потребителят се задължава да предостави точен адрес за доставката и актуален телефонен номер. СКАуто не носи отговорност при подаване на непълен и точен адрес.
</p>
<p class="text-white">
    Поръчки извън страната се доставят с “Български пощи” по подразбиране като най-изгоден метод за доставка.
</p>
<p class="text-white">
    При доставки до чужбина СКАуто запазва правото си да начисли допълнителна сума за опаковане на продуктите, за да може да бъдат изпратени според съответните изисквания на “Български пощи” и с цел предпазване по време на доставка.
</p>
<p class="text-white">
    При избор на Потребителя пратката до чужбина може да се обработи и изпрати с куриер за сметка на получателя.
</p>
<p class="text-white">
    Срок за доставка
</p>
<p class="text-white">
    Срокът за доставка на поръчките за страната е 3 работни дни след получаване на поръчката или според графика на съответния куриер. Срокът започва да тече след получаване на плащането чрез банков превод или онлайн плащане. Срокът за доставка с наложен платеж започва да тече 3 работни дни след получаване на поръчката.
    Доставките до чужбина се извършват в срок, определен от „Български пощи” или съответния куриер и СКАуто не носи отговорност, ако този срок не бъде спазен или поради независещи от нас обстоятелства пратката не достигне до адресата.
    Ако клиентът не осигури достъп и условия за предаване на стоката на посочения адрес, СКАуто се освобождава от задължението да изпълни заявената поръчка, като платената за нея сума няма да бъде връщана!

</p>
<p class="text-white">
    СКАуто запазва правото си да променя подизпълнителя (куриера), извършващ доставката, без да предубреждава Потребителя, когато тази промяна не засяга цената, срока и начина на доставка.
</p>
<p class="text-white">
    Начини на плащане
</p>
<p class="text-white">
    При плащане с наложен платеж при доставка с куриер Потребителят заплаща дължимата сума на куриера при получаване на поръчката, като Потребителят поема разходите за доставката. Доставките с куриер са на предварително посочен адрес. За територията на България доставките с куриер струват 5.00 лв. с включен ДДС.
</p>
<p class="text-white">
    Доставките с “Български пощи” в чужбина се таксуват според актуалната тарифа на “Български пощи”.
</p>
<p class="text-white">
    При плащане с банков превод сумата се заплаща с банков превод на следната сметка:
</p>
<p class="text-white">
    СКАуто
</p>
<p class="text-white">
    банка ........
</p>
<p class="text-white">
    адрес ........
</p>
<p class="text-white">
    BIC: .........
</p>
<p class="text-white">
    IBAN: ........
</p>
<p class="text-white">
    Основание за превод: Моля, напишете „Поръчка в СКАуто Вашето име и email”.
</p>
<p class="text-white">
    Всички такси и комисиони са за сметка на клиента.
</p>
<p class="text-white">
    Срокът за доставката започва да тече след получаването на сумата в банковата сметка на СКАуто.
</p>
