@using SKAutoNew.Web.ViewModels.CompanyViewModels;
@model CompanyCreateViewModel;

@{
    ViewData["Title"] = "Create";
}

<h1 class="text-white text-center">Добави фирма</h1>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <section>
            <form id="account" method="post">
                <hr class="bg-white" />
                <div class="form-group">
                    <label>Име на фирма</label>
                    <input class="form-control" id="name" name="name" type="text" />
                </div>
                <div class="form-group">
                    <label>Избери град</label>
                    <select class="form-control" id="townName" name="townName" type="text">
                        <option selected disabled>-- Избери град --</option>
                        @foreach (var item in Model.TownNames)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Адрес</label>
                    <textarea class="form-control" id="address" name="address"></textarea>
                </div>
                <div class="form-group">
                    <label>Телефон</label>
                    <input class="form-control" id="phone" name="phone" type="text" />
                </div>
                <div class="form-group">
                    <label>Избери категория</label>
                    <select class="form-control" id="categoryName" name="categoryName" type="text">
                        <option selected disabled>-- Избери категория --</option>
                        @foreach (var item in Model.CategoryNames)
                        {
                            <option>@item</option>
                        }
                    </select>
                </div>
                <hr class="bg-white" />
                <div class="form-group text-center">
                    <button type="submit" class="btn skl-bg-color border">Запази</button>
                </div>
            </form>
        </section>
    </div>
</div>
