@using SKAuto.Web.ViewModels.ViewModels.PartViewModels;
@model PartByCategoryAndModelViewModel;

@{
    ViewData["Title"] = "Find";
}

<h3 class="text-white text-center">Попълни данни за "Получател"</h3>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-6">
        <section>
            <form method="post">
                <hr class="bg-white" />
                <div class="form-group">
                    <label>Име на получател</label>
                    <input class="form-control" id="FirstName" name="FirstName" type="text" />
                </div>
                <div class="form-group">
                    <label>Фамилия на получател</label>
                    <input class="form-control" id="LastName" name="LastName" type="text" />
                </div>
                <div class="form-group">
                    <label>Телефон на получател</label>
                    <input class="form-control" id="phone" name="Phone" type="text" />
                </div>
                <hr class="bg-white" />
                <div class="form-group text-center">
                    <button type="submit" class="btn skl-bg-color border">Потвърди</button>
                </div>
            </form>
        </section>
    </div>
</div>>

