@using SKAuto.Web.ViewModels.ViewModels.PartViewModels;
@model PartByCategoryAndModelViewModel;

@{
    ViewData["Title"] = "Find";
}

<h3 class="text-white text-center">Имате регистриран "Получател"</h3>
<div class="row text-white justify-content-xl-center">
    <div class="col-md-4">
        <section>
            <form method="post">
                <hr class="bg-white" />
                <div class="form-group">
                    <label>Телефон на получател</label>
                    <input class="form-control" id="phone" name="phone" type="text" />
                </div>
                <hr class="bg-white" />
                <div class="form-group text-center">
                    <button type="submit" class="btn skl-bg-color border">Продължи</button>
                </div>
            </form>
        </section>
    </div>
</div>

